{% extends "template.html" %}
{% block content %}

  
    <h1>Fruit Classifier</h1>
    
    <h2>Frucht analysieren</h2>
    <p>Dieses Programm kann Früchte auf Bildern erkennen und unterscheiden.</p>
    <small>Drücken Sie auf "Datei auswählen" und wählen Sie ein Bild mit einer Frucht aus. Drücken Sie danach auf den blauen Knopf "Analysieren"</small>
    <br/>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      
      <div class='upload-label'>
        <label id='upload-label' class="label label-primary">Keine Datei ausgewählt</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='btn btn-primary' type='button' onclick='analyze()'>Analysieren</button>
      </div>
   
    
  
{% endblock %}